/*
*= require animate
*= require bootstrap
*= require fileinput
*= require sweetalert
*= require ladda.min
*= require ladda-themeless.min
*= require prism
*= require_self
*/

.h1Login {
  margin-top: 10px!important;
  line-height: 58px !important;
  font-size: 56px !important;
  background: #f7d900 !important;
  display: inline-block !important;
  padding: 0 80px 0 50px !important;
  margin-bottom: 16px !important;
  text-transform: uppercase !important;
  color: #000 !important;
  font-weight: bold !important;
  margin-left: 11px!important;
}
.input-login{
  border-radius: 6px !important;
  margin-bottom: 10px !important;
  outline: 0px !important;
  -webkit-appearance: none;
}

.form-control {
  width: 50% !important;
  height: 50px !important;
  font-size: 20px !important;
}

.form-controlC {
  width: 100% !important;
  height: 43px !important;
  font-size: 16px !important;
  border: 1px solid #cccccc !important;
  border-bottom-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
  padding-left: 6px!important;
}
.form-controlA {
  width: 100% !important;
  height: 43px !important;
  font-size: 16px !important;
  border: 1px solid #cccccc !important;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  padding-left: 6px!important;
}
.form-controlI {
  width: 100% !important;
  height: 40px !important;
  font-size: 15px !important;
  border: 1px solid #cccccc !important;
  border-radius: 4px !important;
  padding-left: 6px!important;
}
.form-controlS {
  //width: 100% !important;
  height: 40px !important;
  font-size: 15px !important;
  border: 1px solid #cccccc !important;
  border-radius: 4px !important;
  padding-left: 6px!important;
}
.form-controlD {
  width: 100% !important;
  height: 40px !important;
  font-size: 15px !important;
  border: 1px solid #cccccc !important;
  border-radius: 4px !important;
  padding-left: 2px!important;
}
.btnLogin {
  border-radius: 6px !important;
  background-color: #f7d900 !important;
  border-color: #f7d900 !important;
  padding: 3px 90px !important;
  color: #000 !important;
  font-weight: bold !important;
  font-size: 20px !important;
}
.divLogin{
  padding-left: 83px !important;
}
.divRicordarmi{
  font-size: 15px !important;
  margin-bottom: 10px !important;
}
.divLogo{
  margin-top:20px !important;
  margin-bottom: 10px !important;
}
.btn-ricerca{
  border-top-right-radius: 6px !important;
  background-color: #f7d900 !important;
  border-color: #f7d900 !important;
  padding: 8px 12px !important;
  color: #000 !important;
  font-weight: bold !important;
  font-size: 18px !important;
}
.btn-menu{
  border-top-right-radius: 6px !important;
  background-color: #f7d900 !important;
  border-color: #f7d900 !important;
  padding: 24px 60px !important;
  color: #000 !important;
  font-weight: bold !important;
  font-size: 25px !important;
}
.btn-cerca{
  border-top-right-radius: 6px !important;
  background-color: #f7d900 !important;
  border-color: #f7d900 !important;
  padding: 8px 40px !important;
  color: #000 !important;
  font-weight: bold !important;
  font-size: 18px !important;
}

.btn-sfoglia{
  border-top-right-radius: 6px !important;
  background-color: #f7d900 !important;
  border-color: #f7d900 !important;
  padding: 9px 11px !important;
  color: #000 !important;
  /* font-weight: bold !important; */
  font-size: 17px !important;
}
.fileinput-remove{
  //border-top-right-radius: 6px !important;
  background-color: #f7d900 !important;
  border-color: #f7d900 !important;
  padding: 9px 11px !important;
  color: #000 !important;
  /* font-weight: bold !important; */
  font-size: 17px !important;
}
.chk-login{
  margin-left: 35px !important;
  margin-bottom: 10px !important;
}
.testofooter{
  font-family: sans-serif  !important;
  font-size: 0.75em;
  color: #555 !important;
}
.area-ricerca{
  padding-left: 0px !important;
  //margin-bottom: 40px !important;
}
.alert {
  padding: 1px !important;
  margin-bottom: 20px !important;
  border: 1px solid transparent !important;
  border-radius: 4px !important;
}
.alert-info {
  background-color: #000!important;
  border-color: #000!important;
  color: #fff !important;
  font-size: 27px !important;
}

.navbar-default {
  background-color: #000 !important;
  border-color: #000 !important;
}
.navbar-defaultRCA {
  background-color: #fff !important;
  border-color: #fff !important;
}

.navbar {
  background-image: -webkit-linear-gradient(#000, #000 60%, #000) !important;
  background-image: -o-linear-gradient(#000, #000 60%, #000) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(60%, #000), to(#000)) !important;
  background-image: linear-gradient(#000, #000 60%, #000)!important;
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
  border-bottom: 1px solid #000 !important;
  -webkit-filter: none;
  filter: none;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.navbar, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #000 !important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #000 !important;
  color: #fff !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff !important;
  background-color: #000 !important;
}

.dropdown-menu > li > a:focus,.dropdown-menu > li > a:hover {
  background-color: #000 !important;
  color: #fff !important;
}

.testo-navBarTitolo{
  color: #fff !important;
  margin-left: 10px !important;
  font-size: 30px !important;
}
.label-Annulla{
  font-size: 25px !important;
}
.btn-annulla {
  background-color: #9a161a !important;
  border-color: #911419 !important;
  color: #fff !important;
  padding: 9px 11px !important;
}
.btn-annulla:hover, .btn-annulla:focus {
  background-color: #9a161a !important;
  background-position: 0 20px !important;
}
.btn-avanti {
  background-color: #000 !important;
  border-color: #000 !important;
  color: #fff !important;
  padding: 9px 11px !important;
}
.btn-avanti:hover, .btn-avanti:focus {
  background-color: #000 !important;
  background-position: 0 20px !important;
}
.legendaTabs{
  font-size: 15px !important;
  margin-bottom: 0px !important;
  font-weight: bolder;
  color:#000 !important;
}
.legenda{
  font-size: 15px !important;
  margin-bottom: 10px !important;
  font-weight: bolder;
  color:#000 !important;
}
.legendCO {
  display: block;
  width: 100%;
  padding: 0;
  /* margin-bottom: 20px; */
  /* font-size: 21px; */
  /* line-height: inherit; */
  /* color: #555555; */
  /* border: 0; */
  border-bottom: 0px solid #e5e5e5 !important;
}
.nav-tabs {
  border-bottom: 3px solid #f7d900 !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #000 !important;
  background-color: #f7d900 !important;
  border: 1px solid #f7d900 !important;
  border-bottom-color: transparent !important;
  cursor: default !important;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  color: #000 !important;
  background-color: #f7d900 !important;
  border: 1px solid #f7d900 !important;
  border-bottom-color: transparent !important;
  cursor: default !important;
}

.tab-pane{
  border-left:3px solid #f7d900 !important;
  background-color: #f7d900 !important;
  border-bottom-left-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
  //height:600px;
}
.marginesopra{
  margin-top: 10px !important;
}
.marginiBottLista{
  margin-top: 10px !important;
  margin-bottom: 4px !important;
}
.marginesotto{
  margin-bottom: 10px !important;
}
.marginesinistro{
  margin-left: 20px !important;
}
.marginiAvanti{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.maiuscola
{
  text-transform:uppercase !important;
}
.titoli{
  color: #000 !important;
}
.link{
  color: #000 !important;
  font-weight: bold !important;
}
.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { width: 100% !important; }

.tt-cursor, .tt-cursor:hover, .tt-cursor:focus{
  color:#f7d900 !important;
}

.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
  color:#000 !important;
  background-color: #f7d900 !important;
}

.popover{
  width: 100% !important;
  max-width: 150% !important;
}
.popover-content { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
  width: 100% !important;
  margin-top: 6px !important;
  padding: 8px 0 !important;
  background-color: #fff !important;
  border: 1px solid #fff !important;
  border-radius: 8px !important;
  box-shadow: 0 5px 10px rgba(0,0,0,.2) !important;
}

.tt-suggestion {
  padding: 8px 10px !important;
  font-size: 16px !important;
  line-height: 15px !important;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
  color: #fff !important;
  background-color: #f7d900 !important;
  box-shadow: 0 5px 10px rgba(0,0,0,.2) !important;
}
.tt-suggestion p {
  margin: 0 !important;
}
.labelErrore{
  border-radius: 4px!important;
  color: #000!important;
  background-color:#f7d900 !important;
  font-size: 20px;
  padding-left: 15px!important;
}
.labelErrore2{
  border-radius: 4px!important;
  color: #000!important;
  background-color:#f7d900 !important;
  font-size: 20px;
  padding-left: 15px!important;
}
.pagination > li > a, .pagination > li > span {
  color: #000 !important;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 3;
  color: #000 !important;
  background-color: #f7d900 !important;
  border-color: #f7d900 !important;
}
.vertical-alignment-helper {
  display:table!important;
  height: 100%!important;
  width: 100%!important;
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell!important;
  vertical-align: middle!important;
}
.modal-content1 {
  // background-color: white!important;
  width:inherit!important;
  height:inherit!important;
  margin: 0 auto!important;
}
.modal-header {
  padding: 0 !important;
}
.modal-header{
  background: #f7d900 !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  padding: 9px !important;
}
.modal-header .close {
  margin-top: 21px !important;
  margin-right: 20px !important;
  color: #fff !important;
  font-size: 30px !important;
  opacity: 0.9 !important;
}
.modal-content1 .modal-body {
  overflow-y: auto;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
.btnFinanziate{
margin-top: 70px;
}
.bordertbGMFEN{
  border-top: 5px ridge !important;
  border-bottom: 5px ridge !important;
}
.borderlGMFEN{
  border-left: 5px ridge !important;
  border-top-left-radius:6px !important;
  border-bottom-left-radius:6px !important;
}
.borderRGMFEN{
  border-right: 5px ridge !important;
  border-top-right-radius:6px !important;
  border-bottom-right-radius:6px !important;
}
.bottoneGMFEN{
  margin-top: 25px  !important;
  margin-bottom:11px  !important;
}

.bordertbCERT{
  margin-top: 40px !important;
  border-top: 5px ridge  !important;
  border-bottom: 5px ridge  !important;
}
.borderLCERT{
  border-left: 5px ridge  !important;
  border-top-left-radius:6px !important;
  border-bottom-left-radius:6px !important;
}
.borderRCERT{
 border-right: 5px ridge  !important;
  border-top-right-radius:6px !important;
  border-bottom-right-radius:6px !important;
}
.bottoneCERT{
  margin-top: 20px  !important;
  margin-left: 10px !important;
  margin-bottom:15px  !important;
}
/*SPINNER*/
.ladda-button { background: #f7d900 !important; }

.ladda-button:hover {
  border-color: rgba(0,0,0,0.07);
  background-color: #f7d900;
}

.menu_poli{
  font-size: medium !important;
  font-weight: bold !important;
}
.bottoneWS{
  margin-top: 25px !important;
}


/***implementazione side bar**/

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}

#wrapper.toggled {
  padding-left: 250px;
  overflow: scroll;
}

#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 276px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  position: absolute;
  padding: 15px;
  width: 100%;
  overflow-x: hidden;
}
.xyz{
  min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0px;
}
.fixed-brand {
  width: auto;
}
/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 195px;
  margin: 0;
  padding: 4px;
  list-style: none;
  margin-top: 2px;
}

.sidebar-nav li {
  text-indent: 7px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
  border-left: #f7d900 2px solid;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #f7d900 !important;
  border-radius: 1px!important;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
.no-margin{
  margin:0;
}

.nav-pills > li > a{
  color: black!important;
}
/*@media(min-width:768px) {
  #wrapper {
   // padding-left: 118px;
  }
  .fixed-brand{
    width: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 201px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 42px;
  }

  #page-content-wrapper {
    padding: 7px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
    padding-left: 42px;
  }

}*/